@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans:wght@600&display=swap");

iframe {
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 10px;
}

h3 {
    margin: 0 auto;
    margin-left: 8%;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    color: #1256D9;
}

hr {
    color: black;
    border: .2px solid black;
}